# Visual C++ 6.0 Data Files
*.ncb
*.opt
*.positions
*.wwdb

# Binaries
*.a
*.dll
*.exe
*.lib
*.o
*.obj
*.so

# CMake
out/
CMakeSettings.json

# Debug / Intermediate Files
*.ipch
*.idb
*.ilk
*.iobj
*.ipdb
*.exp
*.pch
*.pdb
*.recipe
*.vcxproj.FileListAbsolute.txt

# Resource Files
*.aps
*.res

# Logs
*.log
*.plg
*.tlog

# Thumbnails
*.DS_STORE
*.db

# Visual Studio 2005 Solution / Project Files
*.vcproj

# Visual Studio 2010 Solution / Project Files
.vs

*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

# Visual Studio Code Analysis
CodeAnalysisResultManifest.txt
*.lastcodeanalysissucceeded
*.nativecodeanalysis.all.xml
*.nativecodeanalysis.sarif
*.nativecodeanalysis.xml

# Compression Formats
*.7z
*.rar
*.zip
