*.a
*.dll
*.exe
*.o
*.obj
*.lib
*.def
*.dep
*.bin

*.cfg
*.json

*.log
*.tlog
*.vcxproj.FileListAbsolute.txt

*.cbp
*.layout
*.depend
*.mk
*.project
*.workspace
Makefile

*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

*.vcxproj
*.filters
*.sdf
*.sln
*.suo

*/CMakeFiles/*
CMakeCache.txt
*.cmake

.build-debug/*
.codelite/*

.vs/
Debug/
Release/
